<section id="faq" class="faq section">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="content px-xl-5">
                    <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
                    <p>
                        Welcome to the FAQ section of Site Scan Plus (Site Scan+ or SiteScan+).
                        Here, we provide answers to common questions about our Lighthouse scanner service.
                    </p>
                </div>
            </div>

            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

                <div class="faq-container">
                    <div class="faq-item faq-active">
                        <h3>
                            <span class="num">1.</span> <span>
                                What is Lighthouse?
                            </span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Lighthouse is an open-source, automated tool for improving the quality of web pages. It audits performance, accessibility, progressive web apps, SEO, and more.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>

                    <div class="faq-item faq-active">
                        <h3>
                            <span class="num">2.</span> <span>
                                What is Site Scan+?
                            </span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Site Scan Plus is a powerful tool that helps you optimize your website's performance, accessibility, best practices, and SEO by providing detailed Lighthouse reports.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>

                    <div class="faq-item faq-active">
                        <h3>
                            <span class="num">3.</span> <span>
                                How do I start a scan?
                            </span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Simply visit our website at https://sitescan.plus/ and enter the URL of the site you want to analyze. Click the "Scan" button to generate a Lighthouse report.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>

                    <div class="faq-item faq-active">
                        <h3>
                            <span class="num">4.</span> <span>
                                How does it work?
                            </span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                SiteScan+ uses Google's Lighthouse to analyze your website. With a click of a button, you receive a comprehensive report highlighting key metrics and areas for improvement.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>

                    <div class="faq-item faq-active">
                        <h3><span class="num">5.</span> <span>
                                Who can benefit from using SiteScan.Plus?
                        </span></h3>
                        <div class="faq-content">
                            <p>
                                Anyone with a website! Whether you're a developer, SEO specialist, or website owner, SiteScan+ provides valuable insights to enhance your site's performance and user experience.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>