@inject ApiService ApiService

<section id="hero" class="hero section dark-background">

    <img src="https://img.freepik.com/free-photo/businesspeople-working-finance-accounting-analyze-financi_74952-1411.jpg?t=st=1722082177~exp=1722085777~hmac=7e161bd030542e7ebafc5bda99e1d0e760f6097d1e4102a46aa0ccd35c8645ae&w=996"
         alt="" data-aos="fade-in" class="opacity-50">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-1 fw-normal mb-5" data-aos="fade-up" data-aos-delay="100">PagePulse - Instant Website SEO Insights</h1>
                <h2 class="display-6 fw-light mb-4" data-aos="fade-up" data-aos-delay="200">
                    PagePulse delivers quick and accurate insights of your website's performance using Google Lighthouse.
                </h2>
            </div>

            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="300">
                <EditForm Model="@searchModel" OnValidSubmit="HandleSubmit" class="php-email-form">


                    <div class="sign-up-form">
                        <InputText @bind-Value="searchModel.Url" placeholder="Enter Your URL or Company Website to scan..."
                                   type="text" class="form-control m-0" />

                        <button type="submit" class="btn btn-primary ms-2 ps-4 pe-4 btn-lg">Scan</button>
                    </div>
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    @if (isLoading)
                    {
                        <div class="loading">Loading...</div>
                    }
                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <div class="error-message">@errorMessage</div>
                    }
                    @if (isSuccess)
                    {
                        <div class="sent-message">Search completed successfully!</div>
                    }
                </EditForm>
            </div>

            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="300">
                @*  <form action="forms/newsletter.php" method="post" class="php-email-form">
                <div class="sign-up-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>

                </form> *@



            </div>
        </div>
    </div>

</section>

@if (WebsiteAuditData != null)
{

    <section id="features" class="features section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h3 class="fw-bold">Google LightHouse Scan Result</h3>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4 align-items-stretch justify-content-between features-item ">
                <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">
                    <img src="@WebsiteAuditData.FinalScreenshot" class="img-fluid" alt="">
                </div>
                <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
                    <h3>Sunt consequatur ad ut est nulla</h3>
                    <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>
                    <ul>
                        <li><i class="bi bi-check"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                        <li><i class="bi bi-check"></i><span> Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
                        <li><i class="bi bi-check"></i> <span>Facilis ut et voluptatem aperiam. Autem soluta ad fugiat</span>.</li>
                    </ul>
                    <a href="#" class="btn btn-get-started align-self-start">Get Started</a>
                </div>
            </div><!-- Features Item -->

        </div>

    </section>

    <!-- /Features Section -->
}

@code {

    private SearchModel searchModel = new SearchModel();
    private WebsiteData WebsiteAuditData;
    private bool isLoading = false;
    private bool isSuccess = false;
    private string errorMessage = string.Empty;

    public class SearchModel
    {
        [Required(ErrorMessage = "URL is required.")]
        [Url(ErrorMessage = "Invalid URL format.")]
        [DomainOrSubdomain(ErrorMessage = "URL does not contain a valid domain or subdomain.")]

        public string Url { get; set; }
    }

    private async Task HandleSubmit()
    {
        isLoading = true;
        errorMessage = string.Empty;

        try
        {
            // Validate the URL (basic validation)
            if (!Uri.IsWellFormedUriString(searchModel.Url, UriKind.Absolute))
            {
                errorMessage = "Invalid URL format.";
                return;
            }

            //var domainOrSubdomain = UrlExtensions.ExtractDomainOrSubdomain(searchModel.Url);

            // Simulate an HTTP POST request
            var response = await ApiService.FetchAndSaveLighthouseReportAsync(searchModel.Url);
            if (response.IsSuccessStatusCode)
            {
                WebsiteAuditData = await response.Content.ReadFromJsonAsync<WebsiteData>();
            }
            else
            {
                // Handle error
                WebsiteAuditData = new WebsiteData();
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred: {ex.Message}";
        }
        finally
        {
            isLoading = false;
        }
    }

}