<section id="stats" class="stats section dark-background mt-5">

    <img src="https://img.freepik.com/free-photo/business-person-futuristic-business-environment_23-2150970195.jpg?t=st=1722270478~exp=1722274078~hmac=4f3e6a00734d813e276977a1150ca2df0048dcc806e76cdcf91f58a1920ec915&w=1380" alt="" data-aos="fade-in">

    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
            <div class="col-lg-3 col-md-6">                
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span>100</span>
                    <p class="text-white">Total Sites</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span>100</span>
                    <p class="text-white">Today Scans</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
            </div>
        </div>
    </div>
</section>