@inherits LayoutComponentBase



<div class="">
    <div class="">
        <NavMenu />
    </div>

    <div id="selector-of-container"></div>
    <main id="loading-bar-container">
        @Body
    </main>
</div>
