@page "/"
@using LightHouseScanner.Models
@using LightHouseScanner.Services
@using LightHouseScanner.Pages.Home.Components

@inject ApiService _apiService
@inject IJSRuntime _jsRuntime
@inject IConfiguration _config
@inject NavigationManager _navManager

<HtmlHead SeoModelData="@HomePageSeoModel" />

<SearchScanSite />
<Top10BestWebsites />


<section id="about" class="about section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

            <div class="col-xl-5">
                <h3 class="display-3 text-primary">SiteScan+</h3>
                <p>
                    With just a quick click of your mouse, receive a comprehensive Lighthouse report that highlights essential metrics and areas for enhancement.
                </p>

                <p>
                    Ensure your website achieves top performance and optimal user satisfaction.
                </p>
            </div>

            <div class="col-xl-7">
                <div class="row gy-4 icon-boxes">

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <i class="fa-regular fa-lightbulb"></i>
                            <h4 class="h3">Shine A Light</h4>
                            <p>Get comprehensive Lighthouse reports, improve your site's performance, accessibility, best practices, and SEO.</p>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box">
                            <i class="fa-solid fa-satellite-dish"></i>
                            <h4 class="h3">Real-Time Data</h4>
                            <p>
                                Stay ahead with up-to-date performance metrics and reports, and boost your site's speed and user experience.

                            </p>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box">
                            <i class="fa-regular fa-file-lines"></i>
                            <h4 class="h3">Detailed Lighthouse reports</h4>
                            <p>
                                Identify and address issues affecting performance and accessibility.
                                Ensure your website meets the highest standards for user experience.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="icon-box">
                            <i class="fa-solid fa-arrow-up-right-dots"></i>
                            <h4 class="h3">Optimize Your Site</h4>
                            <p>
                                Evaluate key metrics and areas for improvement with a single click.
                                Ensure your site adheres to best practices and accessibility standards.
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>

<section id="call-to-action" class="call-to-action section dark-background">

    <img src="@string.Concat(_config["AppUrl"] + "imgs/privacy-and-security-min.jpg" )"
         class="opacity-50"
         alt="privacy and security" title="site scan - privacy and security">

    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
                <div class="text-center">
                    <p class="h2">Privacy and Security</p>
                    <p class="mt-4 fs-5">
                        We do not store personal information
                    </p>
                    <p class="fs-5">
                        Yes, your data is secure with SiteScan.Plus
                    </p>
                    <p class="fs-5">
                        We store scanned data for analysis and reporting purposes
                    </p>
                    <p class="fs-5">
                        However, we ensure that your data remains confidential and secure
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>

<FAQ />
@code {

    public string AppURL = string.Empty;
    public SeoModel HomePageSeoModel = new SeoModel();

    protected override async Task OnInitializedAsync()
    {
        AppURL = _config["AppUrl"];

        HomePageSeoModel.Title = "SiteScan+ - Enhance Your Website's SEO and Speed";
        HomePageSeoModel.Description = "Improve your site's performance and SEO with Site Scan+. Utilize Lighthouse reports for better accessibility and best practices.";
        HomePageSeoModel.CanonicalURL = AppURL;
        HomePageSeoModel.SiteName = "Comprehensive Website Performance Reports";
        HomePageSeoModel.OgType = "website";
        HomePageSeoModel.OgImageURL = _config["AppUrl"] + "imgs/site-scan-plus-improve-page-seo.jpg";
        HomePageSeoModel.OgImageType = "image/jpg";
        HomePageSeoModel.OgImageHeight = "1920";
        HomePageSeoModel.OgImageWidth = "1080";
        HomePageSeoModel.OgImageURLAlt = "Site Scan Plus offers detailed Lighthouse reports";

        HomePageSeoModel.Tags.Add("Site Scan+");
        HomePageSeoModel.Tags.Add("Site Scan Plus");
        HomePageSeoModel.Tags.Add("SiteScan+");
        HomePageSeoModel.Tags.Add("Site Scan +");
        HomePageSeoModel.Tags.Add("SiteScanPlus");
        HomePageSeoModel.Tags.Add("SiteScan.Plus");

        // HomePageSeoModel.SeeAlso.Add(AppURL + "get-organic-website-traffic");
        // HomePageSeoModel.SeeAlso.Add(AppURL + "increase-website-traffic-for-free");
        // HomePageSeoModel.SeeAlso.Add(AppURL + "drive-traffic-to-your-website");
        // HomePageSeoModel.SeeAlso.Add(AppURL + "get-social-media-traffic");

        // HomePageSeoModel.SeeAlso.Add(AppURL + "how-it-works");
        // HomePageSeoModel.SeeAlso.Add(AppURL + "sitemap");
        // HomePageSeoModel.SeeAlso.Add(AppURL + "signup");
        // HomePageSeoModel.SeeAlso.Add(AppURL + "signin");
        // HomePageSeoModel.SeeAlso.Add(AppURL + "contactus");

    }

    // private async Task FetchTop10ReScannedWebsites()
    // {
    //     var response = await ApiService.FetchTop10ReScannedWebsitesAsync();
    //     if (response.IsSuccessStatusCode)
    //     {
    //         websiteDataList = await response.Content.ReadFromJsonAsync<List<WebsiteData>>();
    //     }
    //     else
    //     {
    //         // Handle error
    //         websiteDataList = new List<WebsiteData>();
    //     }
    // }

    // private async Task FetchLast10ScannedWebsites()
    // {
    //     var response = await ApiService.FetchLast10ScannedWebsitesAsync();
    //     if (response.IsSuccessStatusCode)
    //     {
    //         websiteDataList = await response.Content.ReadFromJsonAsync<List<WebsiteData>>();
    //     }
    //     else
    //     {
    //         // Handle error
    //         websiteDataList = new List<WebsiteData>();
    //     }
    // }



    // private async Task FetchTop10BestWebsites()
    // {
    //     var response = await ApiService.FetchTop10BestWebsitesAsync();
    //     if (response.IsSuccessStatusCode)
    //     {
    //         websiteDataList = await response.Content.ReadFromJsonAsync<List<WebsiteData>>();
    //     }
    //     else
    //     {
    //         // Handle error
    //         websiteDataList = new List<WebsiteData>();
    //     }
    // }
}